@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap");
@import "./reset.css";
@import "./variables.css";
/* Components */
@import "./components/status-bar.css";
@import "./components/nav-bar.css";
@import "./components/screen-header.css";
@import "./components/user-component.css";
@import "./components/badge.css";
/* Screen */
@import "./screen/welcome-header.css";
@import "./screen/login-form.css";
@import "./screen/friends.css";
@import "./screen/find.css";
@import "./screen/more.css";
@import "./screen/chats-inner.css";
@import "./screen/settings.css";
@import "./screen/profile-management.css";

/* @media (prefers-color-scheme: light) {
  body {
    background-color: white;
    color: black;
  }
}
@media (prefers-color-scheme: dark) {
  body {
    background-color: black;
    color: white;
  }
} */

body {
  font-family: "Open Sans", sans-serif;
  color: #2f363e;
}

li {
  list-style: none;
}

.main-screen {
  padding: 90px var(--horizontal-space) 70px var(--horizontal-space);
  margin-top: 30px;
  max-width: 1920px;
  overflow: hidden;
  margin: 0 auto;
}
.not__ppi,
.landscape {
  display: none;
}

/** 너무 작은 사이즈 */
@media screen and (max-width: 299px) {
  .not__ppi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: yellow;
    background-color: black;
    text-align: center;
    line-height: 100vh;
    font-size: 20px;
  }
  .status-bar,
  .screen-header,
  .nav,
  .main-screen,
  .chats-nav {
    display: none;
  }
}
/** 모바일*/
@media screen and (min-width: 300px) and (max-width: 500px) {
  body,
  .status-bar,
  .screen-header,
  .nav,
  .chats-nav {
    width: 300px;
    margin: 0 auto;
  }
}
/** 태블릿 */
@media screen and (min-width: 768px) and (max-width: 1024px) {
  body,
  .status-bar,
  .screen-header,
  .nav,
  .chats-nav {
    width: 768px;
    margin: 0 auto;
  }
}
/** 데스크톱 */
@media screen and (min-width: 1280px) {
  .not__ppi {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    color: yellow;
    background-color: black;
    text-align: center;
    line-height: 100vh;
    font-size: 20px;
  }
  .status-bar,
  .screen-header,
  .nav,
  .main-screen,
  .chats-nav {
    display: none;
  }
}
/* @media screen and (min-width: 701px) {
   .not__ppi {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      height: 100vh;
      color: yellow;
      background-color: black;
      text-align: center;
      line-height: 100vh;
      font-size: 20px;
   }
   .status-bar,
   .screen-header,
   .nav,
   .main-screen,
   .chats-nav {
      display: none;
   }
} */
@media screen and (orientation: landscape) {
  .landscape {
    display: block;
    position: absolute;
    top: 5px;
    left: 100px;
  }

  .not__ppi {
    display: none;
  }
  .status-bar,
  .screen-header,
  .nav,
  .screen-header,
  .nav,
  .chats-nav {
    display: flex;
  }
  .nav,
  .main-screen {
    display: block;
  }
  body {
    font-size: 14px;
  }
  .chats-inner {
    font-size: 8px;
  }
  .chats-bar__keyboard {
    font-size: 8.5px;
  }
  .chats-nav {
    font-size: 10px;
  }
}
