.find__screen--list,
.find__column--txt,
.find__openchat__member,
.find__openchat--column,
.find__openchat--list,
.find__openchat__img--heart {
   display: flex;
}

.find__openchat--column,
.find__openchat--list {
   justify-content: space-between;
}

.find__screen--list {
   justify-content: space-around;
   padding: 20px 0 30px 0;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.find__openchat--list:last-child {
   padding-bottom: 60px;
}
.find__screen--link {
   position: relative;
   text-align: center;
}
.find__screen--link > a > i {
   display: block;
   margin-bottom: 12px;
}

.find__screen--link-id {
   position: absolute;
   top: 15px;
   left: 28px;
   font-weight: bolder;
}

.find__column {
   color: rgba(0, 0, 0, 0.2);
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.find__column--title {
   margin-top: 20px;
}

.find__column--txt {
   justify-content: center;
   align-items: center;
   height: 240px;
}

.find__openchat {
   color: rgba(0, 0, 0, 0.2);
}

.find__openchat--column {
   margin: 20px 0;
}

.find__openchat--list {
   font-size: 22px;
   border-bottom: 1px solid rgba(0, 0, 0, 0.2);
   padding-bottom: 20px;
   margin-top: 20px;
   align-items: flex-end;
}
.find__openchat--list:last-child {
   border: none;
}

.find__openchat__txt > a {
   color: black;
   font-size: 20px;
}
.find__openchat__txt > p {
   margin: 10px 0;
   font-size: 12px;
   text-transform: uppercase;
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 240px;
}

.find__openchat__member {
   align-items: center;
   font-size: 12.8px;
}
.find__openchat__member > img {
   width: 30px;
   height: 30px;
   border-radius: 10px;
   object-fit: cover;
}

.find__openchat__member > span {
   margin: 0 2px;
}
.find__openchat__member > a {
   border-left: 1px solid rgba(0, 0, 0, 0.2);
   padding: 0 5px;
   color: pink;
}

.find__openchat__img {
   position: relative;
}

.find__openchat__img,
.find__openchat__img > img {
   display: block;
   width: 86px;
   height: 86px;
   border-radius: 15px;
   object-fit: cover;
}

.find__openchat__img--heart {
   width: 48px;
   height: 35px;
   padding: 0 5px;
   background-color: rgba(0, 0, 0, 0.7);
   border-radius: 20px;
   position: absolute;
   right: 8.6px;
   bottom: 8.6px;
   color: white;
   justify-content: space-around;
   align-items: center;
   font-size: 12.8px;
}

@keyframes hearthBeat {
   0% {
      color: white;
      trasnform: none;
   }
   50% {
      color: tomato;
      transform: scale(1.5);
   }
   100% {
      color: white;
      transform: none;
   }
}

.find__openchat__img--heart:hover i {
   will-change: transform;
   animation: hearthBeat 1s linear infinite;
}
