.badge {
  background-color: tomato;
  width: 1.875em;
  height: 1.875em;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.9375em;
  text-align: center; 
  color: #fff;
  font-weight: 600;
}

.badge__sm {
  background-color: tomato;
  width: 0.5em;
  height: 0.5em;
  border-radius: 0.25em;
  display: block;
}