.status-bar {
   position: fixed;
   top: 0;
   box-sizing: border-box;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding: 5px 3px;
   z-index: 2;
}

#status-bar__time {
   margin-left: 24px;
   font-weight: bolder;
}
.status-bar__column:last-child > li {
   margin: 0 3px;
}
.status-bar__column:last-child > li:last-child {
   margin-right: 24px;
}

.status-bar__column .fa-signal,
.status-bar__column .fa-battery-half {
   text-align: center;
   margin: 0px 5px;
}
