.user-component {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 20px;
   font-size: 14px;
}
/** column 안에서 abosulte가 움직일 수 있도록 */
.user-component-column {
   position: relative;
}
.user-component-column:first-child {
   display: flex;
}
.user-component-column:last-child {
   color: rgba(0, 0, 0, 0.5);
   display: flex;
   justify-content: flex-end;
   text-align: center;
}
/** 프로필 사진  */
.user-component__avatar {
   display: flex;
   justify-content: center;
   align-items: center;
   width: 70px;
   height: 70px;
   border-radius: 35%;
   object-fit: cover;
}
/** 프로필 사진 설명 텍스트 wrap */
.user-component__txt {
   position: relative;
   margin-left: 12px;
   font-size: 24px;
   font-weight: 600;
}
/** 프로필 이름  */
.user-component__title {
   position: relative;
}
/** 부제목(상태메시지, 채팅 미리보기) */
.user-component__subtitle {
   line-height: 32px;
   font-size: 16px;
   font-weight: normal;
   color: rgba(0, 0, 0, 0.5);
   white-space: nowrap;
   overflow: hidden;
   text-overflow: ellipsis;
   max-width: 250px;
}

/*! 사이즈,스타일 변경 */
.user-component__avatar--sm {
   width: 50px;
   height: 50px;
}
.user-component__avatar--xl {
   width: 60px;
   height: 60px;
}
.user-component__avater--chat {
   width: 45px;
   height: 45px;
   border-radius: 40%;
}
.user-component__title-not-bold {
   font-weight: normal;
}

/** 채팅방 아이콘 */
.user-component__icon {
   display: flex;
   justify-content: flex-end;
   align-items: center;
   position: absolute;
   right: 20px;
}
.user-component__icon i {
   display: block;
   margin-right: 10px;
   color: rgba(0, 0, 0, 0.2);
}
.user-component__icon i:last-child {
   margin-right: 30px;
}

/** 채팅 시간 */
.user-component__time {
   margin-bottom: 10px;
   display: block;
}
/** 채팅 날짜 */
.user-component-date {
   display: flex;
   height: 100%;
   flex-direction: column;
   align-items: flex-end;
}
.friends-screen__channel .user-component__title {
   font-size: 16px;
   font-weight: normal;
}
